flows/Exemple 4 %3A Click & FindElements.json
[
  {
    "id": "b4a977197bd7a1f7",
    "type": "tab",
    "label": "Exemple 4 : Click & FindElements",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "35def20bd7cb87f4",
    "type": "open browser",
    "z": "b4a977197bd7a1f7",
    "name": "",
    "browserType": "chrome",
    "webURL": "https://critik.fr/test_node.html",
    "width": 1280,
    "height": 1024,
    "timeout": 3000,
    "maximized": true,
    "headless": false,
    "args": [],
    "serverURL": "http://localhost:9515",
    "x": 470,
    "y": 180,
    "wires": [
      [
        "43d4e1238f87a7fa"
      ]
    ]
  },
  {
    "id": "5549920d1c7be16d",
    "type": "inject",
    "z": "b4a977197bd7a1f7",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 180,
    "wires": [
      [
        "107bad4fd813adb9"
      ]
    ]
  },
  {
    "id": "43d4e1238f87a7fa",
    "type": "click on",
    "z": "b4a977197bd7a1f7",
    "name": "",
    "selector": "className",
    "target": "counter",
    "mode": "all-each",
    "timeout": 1000,
    "waitFor": 500,
    "clickOn": false,
    "x": 460,
    "y": 280,
    "wires": [
      [
        "1d2be0a373adebd8",
        "6fdb417e05e4dccf"
      ],
      [
        "1d2be0a373adebd8",
        "3ca80950c841d745"
      ]
    ]
  },
  {
    "id": "1d2be0a373adebd8",
    "type": "switch",
    "z": "b4a977197bd7a1f7",
    "name": "",
    "property": "last",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 690,
    "y": 280,
    "wires": [
      [
        "97a680a286838c45"
      ]
    ]
  },
  {
    "id": "107bad4fd813adb9",
    "type": "change",
    "z": "b4a977197bd7a1f7",
    "name": "Init",
    "rules": [
      {
        "t": "set",
        "p": "successNumber",
        "pt": "flow",
        "to": "0",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "errorNumber",
        "pt": "flow",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 310,
    "y": 180,
    "wires": [
      [
        "35def20bd7cb87f4"
      ]
    ]
  },
  {
    "id": "3ca80950c841d745",
    "type": "change",
    "z": "b4a977197bd7a1f7",
    "name": "Count Error Number",
    "rules": [
      {
        "t": "set",
        "p": "errorNumber",
        "pt": "flow",
        "to": "$flowContext(\"errorNumber\") + 1",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "6fdb417e05e4dccf",
    "type": "change",
    "z": "b4a977197bd7a1f7",
    "name": "Count Success Number",
    "rules": [
      {
        "t": "set",
        "p": "successNumber",
        "pt": "flow",
        "to": "$flowContext(\"successNumber\") + 1",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 750,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "97a680a286838c45",
    "type": "change",
    "z": "b4a977197bd7a1f7",
    "name": "Retreive counter",
    "rules": [
      {
        "t": "set",
        "p": "errorNumber",
        "pt": "msg",
        "to": "errorNumber",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "successNumber",
        "pt": "msg",
        "to": "successNumber",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1040,
    "y": 280,
    "wires": [
      [
        "4c65ed4d04d743ff"
      ]
    ]
  },
  {
    "id": "18d15b6b6736628f",
    "type": "debug",
    "z": "b4a977197bd7a1f7",
    "name": "Write Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "test",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1570,
    "y": 420,
    "wires": []
  },
  {
    "id": "4c65ed4d04d743ff",
    "type": "function",
    "z": "b4a977197bd7a1f7",
    "name": "Check",
    "func": "if (msg.errorNumber == 1 && msg.successNumber == 2)\n    msg.test = \"All continue on error each message : success\"\nelse\n    msg.test = \"All continue on error each message : failure\"\n\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1230,
    "y": 280,
    "wires": [
      [
        "18d15b6b6736628f",
        "7b01d0fa1d979d02"
      ]
    ]
  },
  {
    "id": "06e031fd0817940f",
    "type": "click on",
    "z": "b4a977197bd7a1f7",
    "name": "",
    "selector": "className",
    "target": "counter",
    "mode": "all-error-stop-each",
    "timeout": 1000,
    "waitFor": 500,
    "clickOn": false,
    "x": 460,
    "y": 580,
    "wires": [
      [
        "3a3f2a838e89d53b",
        "b34d7373a7cdfd39"
      ],
      [
        "3a3f2a838e89d53b",
        "40c4aa8017d72d28"
      ]
    ]
  },
  {
    "id": "3a3f2a838e89d53b",
    "type": "switch",
    "z": "b4a977197bd7a1f7",
    "name": "",
    "property": "last",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 690,
    "y": 580,
    "wires": [
      [
        "924b3eefffc37549"
      ]
    ]
  },
  {
    "id": "7b01d0fa1d979d02",
    "type": "change",
    "z": "b4a977197bd7a1f7",
    "name": "Init",
    "rules": [
      {
        "t": "set",
        "p": "successNumber",
        "pt": "flow",
        "to": "0",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "errorNumber",
        "pt": "flow",
        "to": "0",
        "tot": "num"
      },
      {
        "t": "delete",
        "p": "test",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "last",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 310,
    "y": 480,
    "wires": [
      [
        "6206898f2d87c181"
      ]
    ]
  },
  {
    "id": "40c4aa8017d72d28",
    "type": "change",
    "z": "b4a977197bd7a1f7",
    "name": "Count Error Number",
    "rules": [
      {
        "t": "set",
        "p": "errorNumber",
        "pt": "flow",
        "to": "$flowContext(\"errorNumber\") + 1",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 680,
    "wires": [
      []
    ]
  },
  {
    "id": "b34d7373a7cdfd39",
    "type": "change",
    "z": "b4a977197bd7a1f7",
    "name": "Count Success Number",
    "rules": [
      {
        "t": "set",
        "p": "successNumber",
        "pt": "flow",
        "to": "$flowContext(\"successNumber\") + 1",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 750,
    "y": 460,
    "wires": [
      []
    ]
  },
  {
    "id": "924b3eefffc37549",
    "type": "change",
    "z": "b4a977197bd7a1f7",
    "name": "Retreive counter",
    "rules": [
      {
        "t": "set",
        "p": "errorNumber",
        "pt": "msg",
        "to": "errorNumber",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "successNumber",
        "pt": "msg",
        "to": "successNumber",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1040,
    "y": 580,
    "wires": [
      [
        "b4bffb7fe35c4c89"
      ]
    ]
  },
  {
    "id": "b4bffb7fe35c4c89",
    "type": "function",
    "z": "b4a977197bd7a1f7",
    "name": "Check",
    "func": "if (msg.errorNumber == 1 && msg.successNumber == 1)\n    msg.test = \"All stop on Error each message : success\"\nelse\n    msg.test = \"All stop on Error each message : failure\"\n\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1230,
    "y": 580,
    "wires": [
      [
        "18d15b6b6736628f",
        "361385abb72464dc"
      ]
    ]
  },
  {
    "id": "fdef637b34edf6ee",
    "type": "comment",
    "z": "b4a977197bd7a1f7",
    "name": "All (continue on error) Each Message",
    "info": "",
    "x": 400,
    "y": 120,
    "wires": []
  },
  {
    "id": "0ab646b5a30fbe59",
    "type": "comment",
    "z": "b4a977197bd7a1f7",
    "name": "All (stop on error) Each Message",
    "info": "",
    "x": 370,
    "y": 400,
    "wires": []
  },
  {
    "id": "6206898f2d87c181",
    "type": "navigate",
    "z": "b4a977197bd7a1f7",
    "name": "",
    "url": "",
    "navType": "refresh",
    "waitFor": 500,
    "x": 460,
    "y": 480,
    "wires": [
      [
        "06e031fd0817940f"
      ],
      [
        "06e031fd0817940f"
      ]
    ]
  },
  {
    "id": "3649974454333936",
    "type": "click on",
    "z": "b4a977197bd7a1f7",
    "name": "",
    "selector": "className",
    "target": "counter",
    "mode": "all-last",
    "timeout": 1000,
    "waitFor": 500,
    "clickOn": false,
    "x": 460,
    "y": 920,
    "wires": [
      [
        "c40354587abcd40b",
        "038b0e1d338ff65f"
      ],
      [
        "c40354587abcd40b",
        "e08f6028f6df7210"
      ]
    ]
  },
  {
    "id": "c40354587abcd40b",
    "type": "switch",
    "z": "b4a977197bd7a1f7",
    "name": "",
    "property": "last",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 690,
    "y": 920,
    "wires": [
      [
        "5a8a0df1fd43baad"
      ]
    ]
  },
  {
    "id": "361385abb72464dc",
    "type": "change",
    "z": "b4a977197bd7a1f7",
    "name": "Init",
    "rules": [
      {
        "t": "set",
        "p": "successNumber",
        "pt": "flow",
        "to": "0",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "errorNumber",
        "pt": "flow",
        "to": "0",
        "tot": "num"
      },
      {
        "t": "delete",
        "p": "test",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "last",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 310,
    "y": 820,
    "wires": [
      [
        "80d77cb96c92c72a"
      ]
    ]
  },
  {
    "id": "e08f6028f6df7210",
    "type": "change",
    "z": "b4a977197bd7a1f7",
    "name": "Count Error Number",
    "rules": [
      {
        "t": "set",
        "p": "errorNumber",
        "pt": "flow",
        "to": "$flowContext(\"errorNumber\") + 1",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 1020,
    "wires": [
      []
    ]
  },
  {
    "id": "038b0e1d338ff65f",
    "type": "change",
    "z": "b4a977197bd7a1f7",
    "name": "Count Success Number",
    "rules": [
      {
        "t": "set",
        "p": "successNumber",
        "pt": "flow",
        "to": "$flowContext(\"successNumber\") + 1",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 750,
    "y": 800,
    "wires": [
      []
    ]
  },
  {
    "id": "5a8a0df1fd43baad",
    "type": "change",
    "z": "b4a977197bd7a1f7",
    "name": "Retreive counter",
    "rules": [
      {
        "t": "set",
        "p": "errorNumber",
        "pt": "msg",
        "to": "errorNumber",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "successNumber",
        "pt": "msg",
        "to": "successNumber",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1040,
    "y": 920,
    "wires": [
      [
        "f450a6899dd4bcf5"
      ]
    ]
  },
  {
    "id": "f450a6899dd4bcf5",
    "type": "function",
    "z": "b4a977197bd7a1f7",
    "name": "Check",
    "func": "if (msg.errorNumber == 0 && msg.successNumber == 1)\n    msg.test = \"All continue on error last message : success\"\nelse\n    msg.test = \"All continue on error last message : failure\"\n\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1230,
    "y": 920,
    "wires": [
      [
        "18d15b6b6736628f",
        "b50068871e43552f"
      ]
    ]
  },
  {
    "id": "80d77cb96c92c72a",
    "type": "navigate",
    "z": "b4a977197bd7a1f7",
    "name": "",
    "url": "",
    "navType": "refresh",
    "waitFor": 500,
    "x": 460,
    "y": 820,
    "wires": [
      [
        "3649974454333936"
      ],
      [
        "3649974454333936"
      ]
    ]
  },
  {
    "id": "53cfe19c5f6bba16",
    "type": "comment",
    "z": "b4a977197bd7a1f7",
    "name": "All (continue on error) Last Message",
    "info": "",
    "x": 380,
    "y": 740,
    "wires": []
  },
  {
    "id": "131116b0a325c568",
    "type": "click on",
    "z": "b4a977197bd7a1f7",
    "name": "",
    "selector": "className",
    "target": "counter",
    "mode": "all-error-stop-last",
    "timeout": 1000,
    "waitFor": 500,
    "clickOn": false,
    "x": 460,
    "y": 1300,
    "wires": [
      [
        "1908124aa7e7da0f",
        "9f5cdd99f9f58291"
      ],
      [
        "1908124aa7e7da0f",
        "170c36b710de1040"
      ]
    ]
  },
  {
    "id": "1908124aa7e7da0f",
    "type": "switch",
    "z": "b4a977197bd7a1f7",
    "name": "",
    "property": "last",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 690,
    "y": 1300,
    "wires": [
      [
        "be4a487876fe4df3"
      ]
    ]
  },
  {
    "id": "be4a487876fe4df3",
    "type": "close browser",
    "z": "b4a977197bd7a1f7",
    "name": "",
    "waitFor": 500,
    "x": 850,
    "y": 1300,
    "wires": [
      [
        "f87d8226f1226e09"
      ]
    ]
  },
  {
    "id": "b50068871e43552f",
    "type": "change",
    "z": "b4a977197bd7a1f7",
    "name": "Init",
    "rules": [
      {
        "t": "set",
        "p": "successNumber",
        "pt": "flow",
        "to": "0",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "errorNumber",
        "pt": "flow",
        "to": "0",
        "tot": "num"
      },
      {
        "t": "delete",
        "p": "test",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "last",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 310,
    "y": 1200,
    "wires": [
      [
        "644b0f88be66d531"
      ]
    ]
  },
  {
    "id": "170c36b710de1040",
    "type": "change",
    "z": "b4a977197bd7a1f7",
    "name": "Count Error Number",
    "rules": [
      {
        "t": "set",
        "p": "errorNumber",
        "pt": "flow",
        "to": "$flowContext(\"errorNumber\") + 1",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 1400,
    "wires": [
      []
    ]
  },
  {
    "id": "9f5cdd99f9f58291",
    "type": "change",
    "z": "b4a977197bd7a1f7",
    "name": "Count Success Number",
    "rules": [
      {
        "t": "set",
        "p": "successNumber",
        "pt": "flow",
        "to": "$flowContext(\"successNumber\") + 1",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 750,
    "y": 1180,
    "wires": [
      []
    ]
  },
  {
    "id": "f87d8226f1226e09",
    "type": "change",
    "z": "b4a977197bd7a1f7",
    "name": "Retreive counter",
    "rules": [
      {
        "t": "set",
        "p": "errorNumber",
        "pt": "msg",
        "to": "errorNumber",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "successNumber",
        "pt": "msg",
        "to": "successNumber",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1040,
    "y": 1300,
    "wires": [
      [
        "8701df319ba31787"
      ]
    ]
  },
  {
    "id": "8701df319ba31787",
    "type": "function",
    "z": "b4a977197bd7a1f7",
    "name": "Check",
    "func": "if (msg.errorNumber == 1 && msg.successNumber == 0)\n    msg.test = \"All stop on error last message : success\"\nelse\n    msg.test = \"All stop on error last message : failure\"\n\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1230,
    "y": 1300,
    "wires": [
      [
        "18d15b6b6736628f"
      ]
    ]
  },
  {
    "id": "644b0f88be66d531",
    "type": "navigate",
    "z": "b4a977197bd7a1f7",
    "name": "",
    "url": "",
    "navType": "refresh",
    "waitFor": 500,
    "x": 460,
    "y": 1200,
    "wires": [
      [
        "131116b0a325c568"
      ],
      [
        "131116b0a325c568"
      ]
    ]
  },
  {
    "id": "b573f5c310db9941",
    "type": "comment",
    "z": "b4a977197bd7a1f7",
    "name": "All (stop on error) Last Message",
    "info": "",
    "x": 390,
    "y": 1140,
    "wires": []
  }
]