flows/Flow 1.json
[
  {
    "id": "d2675214b54e2eb6",
    "type": "tab",
    "label": "Flow 1",
    "disabled": true,
    "info": "",
    "env": []
  },
  {
    "id": "56af672c3ae066b8",
    "type": "group",
    "z": "d2675214b54e2eb6",
    "name": "uibuilder report builder example \\n ",
    "style": {
      "fill": "#ffffff",
      "fill-opacity": "0.2",
      "label": true,
      "color": "#000000"
    },
    "nodes": [
      "bdd00bc65ececfb2",
      "b77a8ab550aef26a",
      "4b423eb7794241f7",
      "48bca724c94ff6ad",
      "d0b0802620db38cd",
      "59718b678565eb7c",
      "bf4b37633885a3a1"
    ],
    "x": 144,
    "y": 879,
    "w": 762,
    "h": 282
  },
  {
    "id": "2d368cb9c96bdff7",
    "type": "group",
    "z": "d2675214b54e2eb6",
    "name": "uibuilder \"simple\" example",
    "style": {
      "fill": "#ffffff",
      "fill-opacity": "0.21",
      "label": true,
      "color": "#000000"
    },
    "nodes": [
      "116a78405410289c",
      "8ecb7d35e9edab87",
      "312d0d91e2a9b622",
      "a9a02535264dd9ed",
      "fa042ed296e9de80",
      "bb3b15c09b085da2",
      "7845085b17f1686b",
      "054d34fec0aa457b",
      "cef55ea2491d8024",
      "3e4c1bb1d26f20ce"
    ],
    "x": 154,
    "y": 1259,
    "w": 972,
    "h": 202
  },
  {
    "id": "bf4b37633885a3a1",
    "type": "junction",
    "z": "d2675214b54e2eb6",
    "g": "56af672c3ae066b8",
    "x": 360,
    "y": 1080,
    "wires": [
      [
        "bdd00bc65ececfb2"
      ]
    ]
  },
  {
    "id": "0bec2ac4dafe4923",
    "type": "junction",
    "z": "d2675214b54e2eb6",
    "x": 380,
    "y": 240,
    "wires": [
      [
        "b4d27e1126cdf143"
      ]
    ]
  },
  {
    "id": "b4d27e1126cdf143",
    "type": "junction",
    "z": "d2675214b54e2eb6",
    "x": 420,
    "y": 240,
    "wires": [
      [
        "a5f1a3f84ba73fa0"
      ]
    ]
  },
  {
    "id": "fdc64fad892ec641",
    "type": "junction",
    "z": "d2675214b54e2eb6",
    "x": 340,
    "y": 240,
    "wires": [
      [
        "0bec2ac4dafe4923"
      ]
    ]
  },
  {
    "id": "1c4ef0d6ce86d0c2",
    "type": "debug",
    "z": "d2675214b54e2eb6",
    "name": "debug 7",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 260,
    "wires": []
  },
  {
    "id": "aee7ce05f216dc40",
    "type": "inject",
    "z": "d2675214b54e2eb6",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "http://localhost:1880/",
    "payloadType": "str",
    "x": 210,
    "y": 180,
    "wires": [
      [
        "fdc64fad892ec641"
      ]
    ]
  },
  {
    "id": "a5f1a3f84ba73fa0",
    "type": "os",
    "z": "d2675214b54e2eb6",
    "name": "",
    "property": "cpus",
    "x": 550,
    "y": 260,
    "wires": [
      [
        "1c4ef0d6ce86d0c2"
      ],
      []
    ]
  },
  {
    "id": "96639365.2535b",
    "type": "debug",
    "z": "d2675214b54e2eb6",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 910,
    "y": 600,
    "wires": []
  },
  {
    "id": "14614bbd.8189d4",
    "type": "debug",
    "z": "d2675214b54e2eb6",
    "name": "testcase's result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 440,
    "y": 660,
    "wires": []
  },
  {
    "id": "bd66d7a6.3da5e8",
    "type": "delay",
    "z": "d2675214b54e2eb6",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "outputs": 1,
    "x": 420,
    "y": 600,
    "wires": [
      [
        "fff921a.51a9fe"
      ]
    ]
  },
  {
    "id": "fff921a.51a9fe",
    "type": "function",
    "z": "d2675214b54e2eb6",
    "name": "msg.payload.toUpperCase",
    "func": "\nnode.warn(msg.payload);\nif(msg.payload)\nmsg.payload = msg.payload.toUpperCase();\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 645,
    "y": 600,
    "wires": [
      [
        "9516c77.67cb238",
        "96639365.2535b"
      ]
    ]
  },
  {
    "id": "51084472.24f87c",
    "type": "flow-asserter in",
    "z": "d2675214b54e2eb6",
    "name": "",
    "testcases": [
      {
        "testId": 0,
        "input": "aaa",
        "inputType": "str",
        "operator": "eq",
        "assert": "AAA",
        "assertType": "str"
      }
    ],
    "onlyfail": false,
    "flowasserterout": "9516c77.67cb238",
    "x": 245,
    "y": 660,
    "wires": [
      [
        "bd66d7a6.3da5e8"
      ],
      [
        "14614bbd.8189d4"
      ]
    ]
  },
  {
    "id": "9516c77.67cb238",
    "type": "flow-asserter out",
    "z": "d2675214b54e2eb6",
    "name": "xxx",
    "x": 780,
    "y": 660,
    "wires": [
      [
        "96639365.2535b"
      ]
    ]
  },
  {
    "id": "c2a7b255.38e64",
    "type": "inject",
    "z": "d2675214b54e2eb6",
    "name": "",
    "props": [
      {
        "p": "payload",
        "v": "aaa",
        "vt": "str"
      },
      {
        "p": "topic",
        "v": "",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "aaa",
    "payloadType": "str",
    "x": 260,
    "y": 600,
    "wires": [
      [
        "bd66d7a6.3da5e8"
      ]
    ]
  },
  {
    "id": "3af10b6e.bb63a4",
    "type": "debug",
    "z": "d2675214b54e2eb6",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 910,
    "y": 450,
    "wires": []
  },
  {
    "id": "50cced2b.3b3cb4",
    "type": "delay",
    "z": "d2675214b54e2eb6",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "outputs": 1,
    "x": 420,
    "y": 450,
    "wires": [
      [
        "ec7db30c.9442d"
      ]
    ]
  },
  {
    "id": "ec7db30c.9442d",
    "type": "function",
    "z": "d2675214b54e2eb6",
    "name": "msg.payload.toUpperCase",
    "func": "msg.payload = msg.payload.toUpperCase();\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 645,
    "y": 450,
    "wires": [
      [
        "3af10b6e.bb63a4"
      ]
    ]
  },
  {
    "id": "541083d1.eef69c",
    "type": "inject",
    "z": "d2675214b54e2eb6",
    "name": "",
    "props": [
      {
        "p": "payload",
        "v": "aaa",
        "vt": "str"
      },
      {
        "p": "topic",
        "v": "",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "aaa",
    "payloadType": "str",
    "x": 260,
    "y": 450,
    "wires": [
      [
        "50cced2b.3b3cb4"
      ]
    ]
  },
  {
    "id": "92012024.64b55",
    "type": "comment",
    "z": "d2675214b54e2eb6",
    "name": "Add flow-asserter",
    "info": "",
    "x": 185,
    "y": 555,
    "wires": []
  },
  {
    "id": "82263acc.4c26f8",
    "type": "comment",
    "z": "d2675214b54e2eb6",
    "name": "Intact flow",
    "info": "",
    "x": 165,
    "y": 405,
    "wires": []
  },
  {
    "id": "bdd00bc65ececfb2",
    "type": "uibuilder",
    "z": "d2675214b54e2eb6",
    "g": "56af672c3ae066b8",
    "name": "",
    "topic": "",
    "url": "uib-report-example",
    "fwdInMessages": false,
    "allowScripts": false,
    "allowStyles": false,
    "copyIndex": true,
    "templateFolder": "blank",
    "extTemplate": "",
    "showfolder": false,
    "reload": true,
    "sourceFolder": "src",
    "deployedVersion": "6.1.0-beta",
    "showMsgUib": true,
    "x": 500,
    "y": 1080,
    "wires": [
      [
        "4b423eb7794241f7"
      ],
      [
        "48bca724c94ff6ad"
      ]
    ],
    "info": "This example uses a blank template with\r\nthe IIFE build of the front-end client.\r\n\r\nIt does not use any front-end framework, just\r\npure HTML, CSS and JavaScript.\r\n"
  },
  {
    "id": "b77a8ab550aef26a",
    "type": "inject",
    "z": "d2675214b54e2eb6",
    "g": "56af672c3ae066b8",
    "name": "Reload",
    "props": [
      {
        "p": "_ui",
        "v": "{\"method\":\"reload\"}",
        "vt": "json"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "reload",
    "x": 260,
    "y": 1100,
    "wires": [
      [
        "bf4b37633885a3a1"
      ]
    ],
    "info": "Sends a pre-formatted msg to the front-end that\r\ncauses the page to reload itself."
  },
  {
    "id": "4b423eb7794241f7",
    "type": "debug",
    "z": "d2675214b54e2eb6",
    "g": "56af672c3ae066b8",
    "name": "uibuilder standard output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "counter",
    "x": 750,
    "y": 1040,
    "wires": [],
    "info": "This shows the data coming out of the\r\nuibuilder node's Port #1 (top) which is\r\nthe standard output.\r\n\r\nHere you will see any standard msg sent from\r\nyour front-end code."
  },
  {
    "id": "48bca724c94ff6ad",
    "type": "debug",
    "z": "d2675214b54e2eb6",
    "g": "56af672c3ae066b8",
    "name": "uibuilder control output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "counter",
    "x": 655,
    "y": 1120,
    "wires": [],
    "l": false,
    "info": "This shows the data coming out of the\r\nuibuilder node's Port #2 (bottom) which is\r\nthe control output.\r\n\r\nHere you will see any control msg either sent\r\nby the node itself or from the front-end library.\r\n\r\nFor example the \"client disconnect\" and\r\n\"client connect\" messages. Or the \"visibility\"\r\nmessages from the client.\r\n\r\nLoop the \"client connect\", \"cache replay\" and\r\n\"cache clear\" messages back to a `uib-cache`\r\nnode before the input to uibuilder in order\r\nto control the output of the cache."
  },
  {
    "id": "d0b0802620db38cd",
    "type": "comment",
    "z": "d2675214b54e2eb6",
    "g": "56af672c3ae066b8",
    "name": "Low-code report building with the help of uibuilder \\n Chk Description in each node & in here \\n You need to add a line to the HTML so that the Markdown output works correctly, see within",
    "info": "To get the Markdown outputs to display,\nplease add the following line to the html\nfile before the reference to uibuilder's\nlibrary:\n\n```\n<script defer src=\"https://cdn.jsdelivr.net/npm/markdown-it@latest/dist/markdown-it.min.js\">/* Allows Markdown to be used in msg._ui */</script>\n```\n\n---\n\nThis example starts with the standard IIFE \nuibuilder template. You will note, however,\nthat you can remove all of the body HTML\nand it will still work.\n\nThis is because all of the important text,\ntables and layout are created dynamically\nusing a standardised configuration schema.\n\nThe schema used by uibuilder is actually\nquite similar, at least in concept, to that\nused by pdfmaker which was the inspiration\nfor this example. I didn't know about pdfmaker\nwhen I designed the config-driven aspects of\nuibuilder and it is comforting to know that I\ncame up with a similar solution to a similar\nproblem.\n\nOutput to HTML is far more flexible than\noutput to PDF via pdfmaker though and it will\ncontinue to grow and improve as HMTL and CSS do.\n\nYou can still output the resulting page to\nPDF very easily though.\n\n---\n\nFull documentation for uibuilder's low-code,\nconfiguration-driven UI creation capabilities\nis available in the documentation:\n\nhttps://totallyinformation.github.io/node-red-contrib-uibuilder/#/uibuilder.module?id=dynamic-data-driven-html-content-1",
    "x": 480,
    "y": 960,
    "wires": []
  },
  {
    "id": "59718b678565eb7c",
    "type": "inject",
    "z": "d2675214b54e2eb6",
    "g": "56af672c3ae066b8",
    "name": "",
    "props": [
      {
        "p": "_ui",
        "v": "[{\"method\":\"remove\",\"components\":[\"#ui-test\"]},{\"method\":\"add\",\"components\":[{\"type\":\"main\",\"id\":\"ui-test\",\"parent\":\"#more\",\"components\":[{\"type\":\"h1\",\"slot\":\"uibuilder Low-Code Tests: Tables\"},{\"type\":\"p\",\"slot\":\"This is an example of using uibuilder's low-code, config-driven page builder. It is based on the TABLES example from <a href='http://pdfmake.org/playground.html' target='_blank'>pdfmake</a>. This is partly to demonstrate that pdfmake and uibuilder use related principals for similar outcomes.\"},{\"type\":\"p\",\"slot\":\"In addition, it demonstrates how to create a complex HTML report layout dynamically direct from Node-RED using a standardised configuration and data-driven, low-code methodology.\"},{\"type\":\"p\",\"slot\":\"It would be easy to directly print this to paper or print/save to PDF.\"},{\"type\":\"p\",\"slot\":\"Of course, much of the output configuration could also be dynamcially created from other data rather than being specified manually as in this example. Change the input from JSON to Expression for example in order to use JSONata to include data from an input msg.\"},{\"type\":\"p\",\"slot\":\"The input in this example is set up so that re-sending the data, removes and re-add's the entire thing. This should not be noticable in the browser. Try changing some data and resending to see the effect.\"},{\"type\":\"p\",\"slot\":\"Except where mentioned in the tables themselves, the majority of the styling comes from the pre-loaded uibuilder stylesheet. Of course, you can replace this with your own.\"},{\"type\":\"article\",\"components\":[{\"type\":\"h2\",\"slot\":\"A simple table (no style overrides)\"},{\"type\":\"p\",\"slot\":\"Nothing more than a couple of unstyled rows and columns. No headings.\"},{\"type\":\"table\",\"components\":[{\"type\":\"tr\",\"components\":[{\"type\":\"td\",\"slot\":\"Column 1\"},{\"type\":\"td\",\"slot\":\"Column 2\"},{\"type\":\"td\",\"slot\":\"Column 3\"}]},{\"type\":\"tr\",\"components\":[{\"type\":\"td\",\"slot\":\"One value goes here\"},{\"type\":\"td\",\"slot\":\"Another one here\"},{\"type\":\"td\",\"slot\":\"OK\"}]}]}]},{\"type\":\"article\",\"components\":[{\"type\":\"h2\",\"slot\":\"A simple table with nested elements\"},{\"type\":\"p\",\"slot\":\"It is of course possible to nest any other type of nodes available in <del>pdfmake</del> uibuilder/HTML inside table cells.\"},{\"type\":\"table\",\"components\":[{\"type\":\"tr\",\"components\":[{\"type\":\"td\",\"slot\":\"Column 1\"},{\"type\":\"td\",\"slot\":\"Column 2\"},{\"type\":\"td\",\"slot\":\"Column 3\"}]},{\"type\":\"tr\",\"components\":[{\"type\":\"td\",\"slot\":\"Let's try an unordered list\",\"components\":[{\"type\":\"ul\",\"components\":[{\"type\":\"li\",\"slot\":\"Item 1\"},{\"type\":\"li\",\"slot\":\"Item 2\"}]}]},{\"type\":\"td\",\"slot\":\"or a nested table\",\"components\":[{\"type\":\"table\",\"components\":[{\"type\":\"tr\",\"components\":[{\"type\":\"th\",\"slot\":\"Col 1\"},{\"type\":\"th\",\"slot\":\"Col 2\"},{\"type\":\"th\",\"slot\":\"Col 3\"}]},{\"type\":\"tr\",\"components\":[{\"type\":\"td\",\"slot\":\"R1C1\"},{\"type\":\"td\",\"slot\":\"R1C2\"},{\"type\":\"td\",\"slot\":\"R1C3\"}]},{\"type\":\"tr\",\"components\":[{\"type\":\"td\",\"slot\":\"R2C1\"},{\"type\":\"td\",\"slot\":\"R2C2\"},{\"type\":\"td\",\"slot\":\"R2C3\"}]}]}]},{\"type\":\"td\",\"slotMarkdown\":\"Inlines can be _styled_ easily as everywhere else. Even using Markdown!\"}]}]}]},{\"type\":\"article\",\"components\":[{\"type\":\"h2\",\"slot\":\"Defining column widths\"},{\"type\":\"p\",\"slotMarkdown\":\"~~Tables support the same width definitions as standard columns~~ HTML is different to pdfmaker here since styling is done using CSS.\"},{\"type\":\"table\",\"components\":[{\"type\":\"tr\",\"components\":[{\"type\":\"td\",\"attributes\":{\"style\":\"width:100em;\"},\"slot\":\"width:100em\"},{\"type\":\"td\",\"slot\":\"Unsized\"},{\"type\":\"td\",\"attributes\":{\"style\":\"width:25%;\"},\"slot\":\"width:25%\"},{\"type\":\"td\",\"slot\":\"Unsized\"}]},{\"type\":\"tr\",\"components\":[{\"type\":\"td\",\"slot\":\"fixed-width cells have exactly the specified width\"},{\"type\":\"td\",\"slotMarkdown\":\"_nothing interesting here_\"},{\"type\":\"td\",\"slotMarkdown\":\"_nothing interesting here_\"},{\"type\":\"td\",\"slotMarkdown\":\"_nothing interesting here_\"}]}]},{\"type\":\"table\",\"components\":[{\"type\":\"tr\",\"components\":[{\"type\":\"td\",\"attributes\":{\"style\":\"width:90%;\"},\"slotMarkdown\":\"This is a ~~star-sized~~ fixed % size column. The next column over, an auto-sized column, will wrap to accomodate all the text in this cell.\"},{\"type\":\"td\",\"slot\":\"I am auto sized.\"}]}]},{\"type\":\"table\",\"components\":[{\"type\":\"tr\",\"components\":[{\"type\":\"td\",\"slotMarkdown\":\"This is ~~a star-sized~~ an unsized column. The next column over, also auto-sized, will not wrap to accomodate all the text in this cell, because it has been given the noWrap style.\"},{\"type\":\"td\",\"attributes\":{\"style\":\"white-space: nowrap;\"},\"slot\":\"I am no-wrap auto sized.\"}]}]}]},{\"type\":\"article\",\"components\":[{\"type\":\"h2\",\"slot\":\"Defining row heights\"},{\"type\":\"table\",\"components\":[{\"type\":\"tr\",\"components\":[{\"type\":\"td\",\"attributes\":{\"style\":\"height:2em;\"},\"slot\":\"row 1 with height 2em\"},{\"type\":\"td\",\"slot\":\"Column B\"}]},{\"type\":\"tr\",\"components\":[{\"type\":\"td\",\"attributes\":{\"style\":\"height:5em;\"},\"slot\":\"row 2 with height 5em\"},{\"type\":\"td\",\"slot\":\"Column B\"}]},{\"type\":\"tr\",\"components\":[{\"type\":\"td\",\"attributes\":{\"style\":\"height:7em;\"},\"slot\":\"row 3 with height 7em\"},{\"type\":\"td\",\"slot\":\"Column B\"}]}]}]},{\"type\":\"article\",\"components\":[{\"type\":\"h2\",\"slot\":\"Column/row spans\"},{\"type\":\"p\",\"slot\":\"Each cell-element can set a rowSpan or colSpan\"},{\"type\":\"table\",\"components\":[{\"type\":\"tr\",\"components\":[{\"type\":\"th\",\"attributes\":{\"colspan\":\"2\",\"alignment\":\"center\"},\"slot\":\"Header with Colspan = 2, centered\"},{\"type\":\"th\",\"slot\":\"Header 3\"}]},{\"type\":\"tr\",\"components\":[{\"type\":\"th\",\"slot\":\"Header 1\"},{\"type\":\"th\",\"slot\":\"Header 2\"},{\"type\":\"th\",\"slot\":\"Header 3\"}]},{\"type\":\"tr\",\"components\":[{\"type\":\"td\",\"slot\":\"Sample value 1\"},{\"type\":\"td\",\"slot\":\"Sample value 2\"},{\"type\":\"td\",\"slot\":\"Sample value 3\"}]},{\"type\":\"tr\",\"components\":[{\"type\":\"td\",\"attributes\":{\"rowspan\":3},\"slot\":\"rowSpan set to 3<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor\"},{\"type\":\"td\",\"slot\":\"Sample value 2\"},{\"type\":\"td\",\"slot\":\"Sample value 3\"}]},{\"type\":\"tr\",\"components\":[{\"type\":\"td\",\"slot\":\"Sample value 2\"},{\"type\":\"td\",\"slot\":\"Sample value 3\"}]},{\"type\":\"tr\",\"components\":[{\"type\":\"td\",\"slot\":\"Sample value 2\"},{\"type\":\"td\",\"slot\":\"Sample value 3\"}]},{\"type\":\"tr\",\"components\":[{\"type\":\"td\",\"slot\":\"Sample value 1\"},{\"type\":\"td\",\"attributes\":{\"rowspan\":2,\"colspan\":2},\"slot\":\"Both:<br>rowSpan and colSpan<br>can be defined at the same time\"}]},{\"type\":\"tr\",\"components\":[{\"type\":\"td\",\"slot\":\"Sample value 1\"}]}]}]},{\"type\":\"article\",\"components\":[{\"type\":\"p\",\"slot\":\"The remainder of the pdfmaker example deals with formatting. For an HTML report, this is done via CSS which can easily reproduce everything pdfmaker can do and a lot more.\"}]}]}]}]",
        "vt": "json"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "tables",
    "x": 260,
    "y": 1060,
    "wires": [
      [
        "bf4b37633885a3a1"
      ]
    ],
    "info": "This example sends a bunch of TABLEs to\r\nthe front-end.\r\n\r\nIt is taken from the [pdfmake]() tables example\r\nand adapted for uibuilder.\r\n\r\nIt demonstrates how complex reports can be created\r\nas easily in uibuilder as in pdfmake. With the \r\ndifference being that uibuilder outputs vanilla\r\nHTML which can be copied/pasted into many other tools.\r\nOr printed to PDF or a printer."
  },
  {
    "id": "c3c70b1f8d376e39",
    "type": "inject",
    "z": "d2675214b54e2eb6",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 300,
    "wires": [
      [
        "fdc64fad892ec641"
      ]
    ]
  },
  {
    "id": "595c6419e7b71c3b",
    "type": "inject",
    "z": "d2675214b54e2eb6",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 240,
    "wires": [
      [
        "fdc64fad892ec641"
      ]
    ]
  },
  {
    "id": "116a78405410289c",
    "type": "comment",
    "z": "d2675214b54e2eb6",
    "g": "2d368cb9c96bdff7",
    "name": "Quote of the Day example. (Read me)",
    "info": "This flow gets a \"quote of the day\" from the Internet and passes it\nto uibuilder. It caches the result so that if you reload the page,\nyou get the last result back. The quote is updated every 30 minutes\nduring the day and evening.\n\n\"Simple\" refers to the front-end code. While the flow looks a little\ncomplex, it really isn't. On the Node-RED server side: A trigger, an Internet request,\nand uibuilder. On the client browser side: A well-formatted HTML blockquote, a simple\nfunction that updates the UI and a function that listens to messages from Node-RED,\nand finally some really simple CSS for formatting.\n\n## Configuration\n\nUpdate the files:\n\n* `index.html`\n* `index.js`\n* `index.css`\n\nAccording to the example(s) in the 3 other comment nodes in this example.\n\nPress the button on the trigger to start the flow.",
    "x": 330,
    "y": 1300,
    "wires": []
  },
  {
    "id": "8ecb7d35e9edab87",
    "type": "comment",
    "z": "d2675214b54e2eb6",
    "g": "2d368cb9c96bdff7",
    "name": "index.html",
    "info": "<!doctype html>\n<html lang=\"en\"><head>\n\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\n    <title>Quote of the day - Node-RED uibuilder</title>\n    <meta name=\"description\" content=\"Node-RED uibuilder - Quote of the day\">\n    <link rel=\"icon\" href=\"./images/node-blue.ico\">\n\n    <!-- Your own CSS -->\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"./index.css\" media=\"all\">\n\n    <!-- #region Supporting Scripts. These MUST be in the right order. Note no leading / - socket.io no longer needed  -->\n    <script defer src=\"../uibuilder/uibuilder.iife.min.js\"></script>\n    <script defer src=\"./index.js\">/* OPTIONAL: Put your custom code in that */</script>\n    <!-- #endregion -->\n\n</head><body class=\"uib\">\n    \n    <h1>uibuilder example: Get and view a Quote of the Day</h1>\n    <div role=\"doc-subtitle\">Using the uibuilder IIFE library. No framework used.</div>\n    <!-- Updated for uibuilder v6.1.0 -->\n\n    <div id=\"more\"><!-- '#more' is used as a parent for dynamic HTML content in examples --></div>\n\n    <blockquote id=\"quote\"><!-- See index.css for styling -->\n        <q id=\"quoteText\">No quote received yet.</q>\n        <cite id=\"quoteAuthor\"></cite>\n    </blockquote>\n    \n</body></html>\n",
    "x": 740,
    "y": 1300,
    "wires": [],
    "icon": "node-red/parser-html.svg"
  },
  {
    "id": "312d0d91e2a9b622",
    "type": "comment",
    "z": "d2675214b54e2eb6",
    "g": "2d368cb9c96bdff7",
    "name": "index.js",
    "info": "// @ts-nocheck\n\n/** Example of using the IIFE build of the uibuilder client library\n * Note that uibuilder.start() should no longer be needed.\n * See the documentation if the client doesn't start on its own.\n */\n'use strict'\n\n// Update the quote\nfunction updQuote(quote) {\n    // Update the quote\n    $('#quoteText').innerText = quote.body\n    // and the author\n    $('#quoteAuthor').innerText = quote.author\n    // And the overall quote citation\n    $('#quote').setAttribute('cite', quote.url)    \n}\n\n// Listen for incoming messages from Node-RED\nuibuilder.onChange('msg', function(msg) {\n    // Make sure we only process quotes and ignore other messages.\n    // Generally sensible to filter like this.\n    if (msg.topic === 'getQuote') updQuote(msg.payload.quote)\n})\n",
    "x": 870,
    "y": 1300,
    "wires": [],
    "icon": "font-awesome/fa-code"
  },
  {
    "id": "a9a02535264dd9ed",
    "type": "comment",
    "z": "d2675214b54e2eb6",
    "g": "2d368cb9c96bdff7",
    "name": "index.css",
    "info": "/* Load defaults from `<userDir>/node_modules/node-red-contrib-uibuilder/front-end/uib-brand.css`\n * This version auto-adjusts for light/dark browser settings but might not be as complete.\n */\n@import url(\"./uib-brand.css\");\n\n/* OR, load the defaults from the older `<userDir>/node_modules/node-red-contrib-uibuilder/front-end/uib-styles.css` */\n/* @import url(\"./uib-styles.css\"); */\n\n/* Formate the quote of the day */\n#quote {\n    background-color: beige;\n    color: black;\n    padding: 1rem;\n}\n\n#quoteText {\n    font-style:italic;\n    font-size: larger;\n}\n\n#quoteAuthor {\n    display:block;\n    font-style:normal\n}\n",
    "x": 1000,
    "y": 1300,
    "wires": [],
    "icon": "node-red/hash.svg"
  },
  {
    "id": "fa042ed296e9de80",
    "type": "debug",
    "z": "d2675214b54e2eb6",
    "g": "2d368cb9c96bdff7",
    "name": "simple-debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1000,
    "y": 1340,
    "wires": []
  },
  {
    "id": "bb3b15c09b085da2",
    "type": "uibuilder",
    "z": "d2675214b54e2eb6",
    "g": "2d368cb9c96bdff7",
    "name": "Simple Example",
    "topic": "",
    "url": "uib-simple-example",
    "fwdInMessages": false,
    "allowScripts": false,
    "allowStyles": false,
    "copyIndex": true,
    "templateFolder": "blank",
    "extTemplate": "",
    "showfolder": false,
    "reload": true,
    "sourceFolder": "src",
    "deployedVersion": "6.1.0-beta",
    "showMsgUib": true,
    "x": 730,
    "y": 1360,
    "wires": [
      [
        "fa042ed296e9de80"
      ],
      [
        "054d34fec0aa457b"
      ]
    ]
  },
  {
    "id": "7845085b17f1686b",
    "type": "inject",
    "z": "d2675214b54e2eb6",
    "g": "2d368cb9c96bdff7",
    "name": "",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "getQuote",
    "x": 260,
    "y": 1360,
    "wires": [
      [
        "3e4c1bb1d26f20ce"
      ]
    ]
  },
  {
    "id": "054d34fec0aa457b",
    "type": "debug",
    "z": "d2675214b54e2eb6",
    "g": "2d368cb9c96bdff7",
    "name": "uib controls",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 990,
    "y": 1380,
    "wires": []
  },
  {
    "id": "cef55ea2491d8024",
    "type": "debug",
    "z": "d2675214b54e2eb6",
    "g": "2d368cb9c96bdff7",
    "name": "qotd-debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 650,
    "y": 1420,
    "wires": []
  },
  {
    "id": "3e4c1bb1d26f20ce",
    "type": "http request",
    "z": "d2675214b54e2eb6",
    "g": "2d368cb9c96bdff7",
    "name": "Quote of the day",
    "method": "GET",
    "ret": "obj",
    "paytoqs": false,
    "url": "https://favqs.com/api/qotd",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 430,
    "y": 1360,
    "wires": [
      [
        "bb3b15c09b085da2",
        "cef55ea2491d8024"
      ]
    ]
  }
]