flows/tcp demo.json
[
  {
    "id": "7862a34a08f3a48c",
    "type": "tab",
    "label": "tcp demo",
    "disabled": true,
    "info": "",
    "env": []
  },
  {
    "id": "789c0d02d76fa9f6",
    "type": "group",
    "z": "7862a34a08f3a48c",
    "style": {
      "stroke": "#999999",
      "stroke-opacity": "1",
      "fill": "none",
      "fill-opacity": "1",
      "label": true,
      "label-position": "nw",
      "color": "#a4a4a4"
    },
    "nodes": [
      "4c355020278b364b",
      "6b2ea9026db5ab1f",
      "fe9a63f58f45898e",
      "3a52babadb278923",
      "18ba3d166261a585",
      "a11dd86553a1860b",
      "1eba7e9f22f617e1",
      "b99d375491ef3a28",
      "7ae07e98ba2a6547",
      "b0acd6258de6b653",
      "116ae6d3ca413997"
    ],
    "x": 54,
    "y": 879
  },
  {
    "id": "35de261249cdd446",
    "type": "group",
    "z": "7862a34a08f3a48c",
    "style": {
      "stroke": "#999999",
      "stroke-opacity": "1",
      "fill": "none",
      "fill-opacity": "1",
      "label": true,
      "label-position": "nw",
      "color": "#a4a4a4"
    },
    "nodes": [
      "7e780e28a369d0c0",
      "304c1ef83519af82",
      "63516bb7e27ec895",
      "fe22f9cc6ffeb28d",
      "fa8a37b56f5a557c",
      "1b71f0c8ad1191cb",
      "74d8dd142a10b5f7",
      "aac97dd8bf68c2bd",
      "959cf28d075da866",
      "fdd5d4ea12b5e17d",
      "aabd71ac1fc04124",
      "b00ff63f4a49224d",
      "f1c2538819427ef6",
      "d741d535e1a17371",
      "0f80f1703f1327e7",
      "d34e177bb85ef18c",
      "1c6cb9fa85386b7b",
      "f37e58c999625122",
      "2c8e5a3872ff4680",
      "30123cdfc0e3e013",
      "4559eee0c3cbbaee"
    ],
    "x": 54,
    "y": 59
  },
  {
    "id": "4559eee0c3cbbaee",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "HOST0",
    "payloadType": "env",
    "x": 170,
    "y": 100,
    "wires": [
      [
        "30123cdfc0e3e013"
      ]
    ]
  },
  {
    "id": "30123cdfc0e3e013",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "debug 6",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 520,
    "y": 100,
    "wires": []
  },
  {
    "id": "2c8e5a3872ff4680",
    "type": "change",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "host0",
        "pt": "global"
      },
      {
        "t": "delete",
        "p": "port0",
        "pt": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1020,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "f37e58c999625122",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "debug 5",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 760,
    "wires": []
  },
  {
    "id": "1c6cb9fa85386b7b",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "debug 4",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 520,
    "wires": []
  },
  {
    "id": "d34e177bb85ef18c",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "[1]",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "[1]",
    "payloadType": "bin",
    "x": 150,
    "y": 660,
    "wires": [
      [
        "f1c2538819427ef6"
      ]
    ]
  },
  {
    "id": "0f80f1703f1327e7",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "debug 3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 700,
    "wires": []
  },
  {
    "id": "d741d535e1a17371",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "[2]",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "[2]",
    "payloadType": "bin",
    "x": 150,
    "y": 780,
    "wires": [
      [
        "f1c2538819427ef6"
      ]
    ]
  },
  {
    "id": "f1c2538819427ef6",
    "type": "subflow:b8af3da32fdbe614",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "",
    "env": [
      {
        "name": "envHost",
        "value": "HOST1",
        "type": "env"
      }
    ],
    "x": 530,
    "y": 700,
    "wires": [
      [
        "0f80f1703f1327e7"
      ],
      [
        "f37e58c999625122"
      ]
    ]
  },
  {
    "id": "b00ff63f4a49224d",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "[1]",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "[1]",
    "payloadType": "bin",
    "x": 150,
    "y": 420,
    "wires": [
      [
        "aac97dd8bf68c2bd"
      ]
    ]
  },
  {
    "id": "aabd71ac1fc04124",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 420,
    "wires": []
  },
  {
    "id": "fdd5d4ea12b5e17d",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "[2]",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "[2]",
    "payloadType": "bin",
    "x": 150,
    "y": 540,
    "wires": [
      [
        "aac97dd8bf68c2bd"
      ]
    ]
  },
  {
    "id": "959cf28d075da866",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "global clean",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 830,
    "y": 280,
    "wires": [
      [
        "2c8e5a3872ff4680"
      ]
    ]
  },
  {
    "id": "aac97dd8bf68c2bd",
    "type": "subflow:b8af3da32fdbe614",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "",
    "env": [
      {
        "name": "Host",
        "value": "HOST0",
        "type": "env"
      }
    ],
    "x": 530,
    "y": 460,
    "wires": [
      [
        "aabd71ac1fc04124"
      ],
      [
        "1c6cb9fa85386b7b"
      ]
    ]
  },
  {
    "id": "74d8dd142a10b5f7",
    "type": "change",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "host0",
        "pt": "global",
        "to": "localhost",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "port0",
        "pt": "global",
        "to": "1234",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1020,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "1b71f0c8ad1191cb",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "global setup",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 830,
    "y": 340,
    "wires": [
      [
        "74d8dd142a10b5f7"
      ]
    ]
  },
  {
    "id": "116ae6d3ca413997",
    "type": "change",
    "z": "7862a34a08f3a48c",
    "g": "789c0d02d76fa9f6",
    "name": "localhost 1235",
    "rules": [
      {
        "t": "set",
        "p": "host",
        "pt": "msg",
        "to": "localhost",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "port",
        "pt": "msg",
        "to": "1235",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 600,
    "y": 1040,
    "wires": [
      [
        "4c355020278b364b"
      ]
    ]
  },
  {
    "id": "fa8a37b56f5a557c",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 320,
    "wires": [
      [
        "fe22f9cc6ffeb28d"
      ]
    ]
  },
  {
    "id": "fe22f9cc6ffeb28d",
    "type": "tcp out",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "",
    "host": "",
    "port": "",
    "beserver": "reply",
    "base64": false,
    "end": false,
    "tls": "",
    "x": 510,
    "y": 320,
    "wires": []
  },
  {
    "id": "b0acd6258de6b653",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "789c0d02d76fa9f6",
    "name": "[2]",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "[2]",
    "payloadType": "bin",
    "x": 150,
    "y": 1040,
    "wires": [
      [
        "6b2ea9026db5ab1f"
      ]
    ]
  },
  {
    "id": "7ae07e98ba2a6547",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "g": "789c0d02d76fa9f6",
    "name": "session",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 960,
    "y": 1220,
    "wires": []
  },
  {
    "id": "b99d375491ef3a28",
    "type": "change",
    "z": "7862a34a08f3a48c",
    "g": "789c0d02d76fa9f6",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "session_tcp",
        "pt": "flow",
        "to": "status._session",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 700,
    "y": 1220,
    "wires": [
      [
        "7ae07e98ba2a6547"
      ]
    ]
  },
  {
    "id": "1eba7e9f22f617e1",
    "type": "status",
    "z": "7862a34a08f3a48c",
    "g": "789c0d02d76fa9f6",
    "name": "",
    "scope": [
      "4c355020278b364b"
    ],
    "x": 420,
    "y": 1220,
    "wires": [
      [
        "b99d375491ef3a28"
      ]
    ]
  },
  {
    "id": "a11dd86553a1860b",
    "type": "change",
    "z": "7862a34a08f3a48c",
    "g": "789c0d02d76fa9f6",
    "name": "[1]",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "[1]",
        "tot": "bin"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 310,
    "y": 920,
    "wires": [
      [
        "6b2ea9026db5ab1f"
      ]
    ]
  },
  {
    "id": "18ba3d166261a585",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "789c0d02d76fa9f6",
    "name": "",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 150,
    "y": 920,
    "wires": [
      [
        "a11dd86553a1860b"
      ]
    ]
  },
  {
    "id": "3a52babadb278923",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "g": "789c0d02d76fa9f6",
    "name": "response from server",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1020,
    "y": 920,
    "wires": []
  },
  {
    "id": "fe9a63f58f45898e",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "789c0d02d76fa9f6",
    "name": "",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      },
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 150,
    "y": 1120,
    "wires": [
      [
        "116ae6d3ca413997"
      ]
    ]
  },
  {
    "id": "6b2ea9026db5ab1f",
    "type": "change",
    "z": "7862a34a08f3a48c",
    "g": "789c0d02d76fa9f6",
    "name": "localhost 1234",
    "rules": [
      {
        "t": "set",
        "p": "host",
        "pt": "msg",
        "to": "localhost",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "port",
        "pt": "msg",
        "to": "1234",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 600,
    "y": 920,
    "wires": [
      [
        "4c355020278b364b"
      ]
    ]
  },
  {
    "id": "4c355020278b364b",
    "type": "tcp request",
    "z": "7862a34a08f3a48c",
    "g": "789c0d02d76fa9f6",
    "name": "tcp client",
    "server": "",
    "port": "",
    "out": "sit",
    "ret": "buffer",
    "splitc": " ",
    "newline": "",
    "trim": false,
    "tls": "",
    "x": 800,
    "y": 920,
    "wires": [
      [
        "3a52babadb278923"
      ]
    ]
  },
  {
    "id": "63516bb7e27ec895",
    "type": "subflow:23ace50339cc8aec",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "",
    "x": 610,
    "y": 260,
    "wires": []
  },
  {
    "id": "304c1ef83519af82",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "debug listen from client",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 650,
    "y": 200,
    "wires": []
  },
  {
    "id": "7e780e28a369d0c0",
    "type": "tcp in",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "tcp server for testing on 1234",
    "server": "server",
    "host": "",
    "port": "1234",
    "datamode": "stream",
    "datatype": "buffer",
    "newline": "",
    "topic": "",
    "trim": false,
    "base64": false,
    "tls": "",
    "x": 200,
    "y": 200,
    "wires": [
      [
        "304c1ef83519af82",
        "63516bb7e27ec895"
      ]
    ]
  }
]